header {
    background-color: #c3e6b3;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
}

.announce {
    color: #000000;
    padding: 10px;
    font-size: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 00;
    margin: 0;
    padding: 0px;
    text-align: left;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.announcement {
    background-color: rgb(125, 196, 136); 
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Garamond', serif;
    font-weight: italic;
    font-size: 2vw;
}

.logo-image {
    width: 100px; 
    height: auto; 
}

ul li {
    color:rgb(0, 0, 0)
}

nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

nav ul li:first-child {
    margin-left: 0; 
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/** #signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"],

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} **/

.button {
    width: 100%;
    padding: 6px;
    background-color: rgb(125, 196, 136);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    text-decoration: none; 
    font-weight: normal; 
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background-color: rgb(75, 151, 86);
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
/**faq**/  
body {
    font-family: 'Poppins', sans-serif;
  }
  
  .faq-toggle {
    display: none;
  }
  
  .faq-question {
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f000;
    position: relative;
  }
  
  .faq-question::after {
    content: '\25C2'; /* Unicode character for left arrow */
    position: absolute;
  }
  
  .faq-toggle:checked ~ .faq-question::after {
    content: '\25BE'; /* Unicode character for down arrow */
  }

  .faq-question:hover {
    color:rgb(125, 196, 136)
  }
  
  .faq-answer {
    display: none;
    padding: 10px;
  }
  
  .faq-toggle:checked ~ .faq-answer {
    display: block;
  }

.faq-answer img {
    max-width: 46%; /* Adjust width to leave some space between images */
    height: auto;
    display: inline-block; /* Display images inline */
    margin-right: 2%; /* Adjust margin between images */
}

/* Clearfix to prevent collapsing margins */
.faq-answer::after {
    content: "";
    display: table;
    clear: both;
}


a[href="/"]:hover {
    color: rgb(255, 255, 255); /* Adjust the color as needed */
    text-decoration: none; /* Optional: Removes underline on hover */
}

a[href="/about"]:hover {
    color: rgb(255, 255, 255); /* Adjust the color as needed */
    text-decoration: none; /* Optional: Removes underline on hover */
}

a[href="/ourtest"]:hover {
    color: rgb(255, 255, 255); /* Adjust the color as needed */
    text-decoration: none; /* Optional: Removes underline on hover */
}

a[href="/register"]:hover {
    color: rgb(255, 255, 255); /* Adjust the color as needed */
    text-decoration: none; /* Optional: Removes underline on hover */
}

a[href="/archive"]:hover {
    color: rgb(255, 255, 255); /* Adjust the color as needed */
    text-decoration: none; /* Optional: Removes underline on hover */
}

/* Adjust font sizes for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .text-container {
        text-align: center; 
        color: rgb(0, 0, 0);
        line-height: 1.1;

        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 10vw;
        margin-bottom: 15px;
    }

    nav ul li {
        display: inline;
        margin-left: 0px; 
    }

    nav ul li a {
        font-size: 12px;
    }

    .button {
        width: 100%;
        padding: 6px;
        background-color: rgb(125, 196, 136);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    
        text-decoration: none; 
        font-weight: normal; 
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
    }

    .subheader {
        background-color: #ffffff00; 
        color: rgb(75, 151, 86);
    
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    
        text-align: left;
    
        font-family: 'Garamond', serif;
        font-weight: italic;
        font-size: 6vw;
    }

    .subheader2 {
        background-color: #ffffff00; 
        color: rgb(0, 0, 0);
    
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    
        text-align: left;
    
        font-family: 'Poppins', serif;
        font-size: 4vw;
    }

    .text {
        background-color: #ffffff00; 
        color: rgb(0, 0, 0);
    
        padding-left: 20px;
        padding-right: 20px;
    
        text-align: left;
    
        font-family: 'Poppins', sans-serif;
        font-size: 4vw;
    }

    ul {
        list-style-type: disc; 
        color: black; 
        font-family: 'Poppins', sans-serif; 
        font-size: 4vw;
    }

    .footer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0;
        
        text-align: center; 
        color: rgb(0, 0, 0);
    
        font-family: 'Poppins', sans-serif;
        font-size: 2vw;
        width:90%
    }

    .faq-item {
        border-bottom: 1px solid #f0f0f0;
        margin-top: 15px;
        margin-bottom: 20px; /* Add margin between questions */
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

/* Adjust font sizes for larger screens (e.g., tablets, desktops) */
@media screen and (min-width: 769px) {
    .text-container {
        text-align: center; 
        color: rgb(0, 0, 0);
        line-height: 1.2;

        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 4vw;
        margin-bottom: 20px;
    }

    nav ul li {
        display: inline;
        margin-left: 20px; 
    }

    .button {
        width: 100%;
        padding: 6px;
        background-color: rgb(125, 196, 136);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    
        text-decoration: none; 
        font-weight: normal; 
        font-family: 'Poppins', sans-serif;
    }

    .subheader {
        background-color: #ffffff00; 
        color: rgb(75, 151, 86);
    
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    
        text-align: left;
    
        font-family: 'Garamond', serif;
        font-weight: italic;
        font-size: 30px;
    }

    .subheader2 {
        background-color: #ffffff00; 
        color: rgb(0, 0, 0);
    
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    
        text-align: left;
    
        font-family: 'Poppins', serif;
        font-size: 20px;
    }

    .text {
        background-color: #ffffff00; 
        color: rgb(0, 0, 0);
    
        padding-left: 30px;
        padding-right: 30px;
    
        text-align: left;
    
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }

    ul {
        list-style-type: disc; 
        color: black; 
        font-family: 'Poppins', sans-serif; 
        font-size: 20px;
        margin-left: 10px;
        margin-left: 10px;
    }

    .footer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0px;
        
        text-align: center; 
        color: rgb(0, 0, 0);
    
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        width:90%;
    }

    .faq-item {
        border-bottom: 1px solid #f0f0f0;
        margin-top: 15px;
        margin-bottom: 20px; /* Add margin between questions */
        margin-left: 30px;
      }
}