<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/poop.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Clover - About</title>
</head>
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <header>
        <heading>
            <a href="/">
                <img src="img\cloverlogo.png" class="logo-image" alt="Clover Image">
            </a>
        </heading>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about" style="color: rgb(75, 151, 86)">About</a></li>
                <li><a href="/register">Register</a></li>
                <!-- <% if (loggedIn !== null) { %>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup" style="color: rgb(75, 151, 86)">Signup</a></li>
                <% } %> -->
            </ul>
        </nav>
    </header>

    <div class="subheader">
        Who are we?
    </div>
    <div class="text">
        Clover is an organization of high schoolers with a love for math committed to inspiring the same passion among younger students. With our combined expertise, we seek to cultivate a community of mathematicians through organizing and providing engaging opportunities for exploration, learning, and of course, competition. If you'd like to learn more about our talented team of mathematicians, more info is below.
    </div>
    <div class="subheader">
        Who should compete
    </div>
    <div class ="text">
        We are open to 8th grade students and under of any expertise and background. Whether this is your first competition or your fiftieth, we'd love to have you! Our tests are written in similar difficulties to that of Mathcounts and AMC 10, so would be best suited for middle school students. However, any younger student is just as welcome if they are up for the challenge!
    </div>
    <div class="subheader">
        Locations
    </div>
    <div class="text">
        Clover is a Naperville based organization. Clover competitions will vary between locations at Naperville North or Central High School, Benedictine University, Or Kennedy Junior High.
    </div>
    <div class="subheader">
        Meet our test writers
    </div>
    <section class="team">
        <div class="team-member">
            <img src="img\meetarthur.png" alt="Team Member 1">
            <div class="bio">
                <h2>Arthur Xu</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et risus eget dolor convallis pulvinar. Sed vel ipsum non orci feugiat convallis.</p>
            </div>
        </div>
    </section>

</body>
</html>
