<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/poop.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Clover - Home</title>
</head>
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <header>
        <heading>
            <a href="/">
                <img src="img\cloverlogo.png" class="logo-image" alt="Clover Image">
            </a>
        </heading>
        <nav>
            <ul>
                <li><a href="/" style="color: white;">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/register" style="color: rgb(75, 151, 86)">Register</a></li>
                <!-- <% if (loggedIn) { %>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% }  else { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup" style="color: rgb(75, 151, 86)">Signup</a></li>
                <% } %> -->
            </ul>
        </nav>
    </header>

    <div class="banner">
        <img src="img\greenbanner.png" alt="Clover Image" style="width:100%;">
        <div class="banner-content">
            <div class="text-container">
                Free math competitions for youth
            </div>
            <a href="/register" class="button">Register for April competition</a>
        </div>
    </div>
    <div class="subheader">
        Slogan will go here
    </div>
    <div class="text">
        <!-- Your content goes here -->
        <p>Welcome to Clover math!</p>
    </div>

    <footer>
        <link rel="stylesheet" href="/css/poop.css">
        <div class="banner">
            <img src="img\greenfooter.png" alt="Clover Image" style="width:100%;">
            <div class="footer">
                <p>Email: <a href="mailto:contactclovermath@gmail.com">contactclovermath@gmail.com</a></p>
            </div>
        </div>
    </footer>
</body>
</html>
