<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/poop.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Clover - Home</title>
</head>
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <header>
        <heading>
            <a href="/">
                <img src="img\cloverlogo.png" class="logo-image" alt="Clover Image">
            </a>
        </heading>
        <nav>
            <ul>
                <li><a href="/" style="color: rgb(75, 151, 86)">Home</a></li>
                <li><a href="/ourtest">Our Test</a></li>
                <li><a href="/about">About</a></li>
                <!--<li><a href="/register">Register</a></li>-->
                <li><a href="/archive">Archive</a></li>
                <!-- <% if (loggedIn) { %>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% }  else { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup" style="color: rgb(75, 151, 86)">Signup</a></li>
                <% } %> -->
            </ul>
        </nav>
    </header>

    <div class="banner">
        <img src="img\greenbanner.png" alt="Clover Image" style="width:100%;">
        <div class="banner-content">
            <div class="text-container">
                Free math competitions for youth
            </div>
            <a href="https://forms.gle/JdCv8NAQZUCo3tsPA" class="button">NEXT COMPETITION IS UPCOMING MAY 2ND! CLICK HERE TO SIGN UP</a>
        </div>
    </div>

    <div class="announce"><b>Announcements 📢:</b></div>
    <div class="announcement"><b>Thank you all for such a wonderful time at our first competition! Find all the tests, answer keys, and solution manuals on our <a href="/archive">archive page</a>.</b></div>
    <div class="announcement">Our next competition will be May 2nd, 2025! The minimum grade for this competition is 3rd grade, though all those who feel ready are welcome.</div>

    <div class="subheader">
        Rise to the challenge!
    </div>
    <div class="text">
        Welcome to Clover Math! We're a Naperville-based group of experienced high schoolers dedicated to spreading our passion for math among younger students. Whether you're just getting started or you've taken many before, we'd love for you to sign up!
    </div>
    
    <img src="img\aprilphotos.png" class="bannerimg" alt="April Photos">

    <div class="subheader">
        Schedule
    </div>
    <div class="text">
        <i>This is the schedule for the 5/2/25 event at NCHS. The schedule may be different for future events.</i>
    </div>
    <ul>
        <li><b>4:15-4:45</b> - Arrive and check in</li>
        <li><b>5:00</b> - Test begins</li>
        <li><b>6:00</b> - Test ends, pickup time for contestants not staying</li>
        <li><b>6:10</b> - Review (optional) begins</li>
        <li><b>6:45</b> - Awards (optional) begins</li>
        <li><b>7:00</b> - Pickup time</li>
    </ul>
    <div class="subheader">
        Prizes
    </div>
    <ul>
        <li>Cash prizes will be awarded to top scorers! There are different prizes for each form.</li>
        <li>Form A: $50 for 1st place, $30 for 2nd place, and $20 for 3rd place.</li>
        <li>Form B: $20 for 1st place, $15 for 2nd place, and $10 for 3rd place</li>
        <li>The money will be split if there are ties.</li>
        <li>There will also be team prizes! We will take the top three scorers from each school and sum their scores. The top three high-scoring schools will receive a trophy, so make sure to bring your friends!</li>
        <li>Prizes will be handed out at the awards ceremony.</li>
    </ul>    
    <div class="subheader">
        FAQ
    </div>
    <div class="faq-container">
        <div class="faq-item">
          <input type="checkbox" id="question1" class="faq-toggle">
          <label for="question1" class="faq-question"><b>What should a contestant bring?</b></label>
          <div class="faq-answer">Pencils, pens, compasses, rulers, and scratch paper are the only allowed materials. Scratch paper will be provided at the contest.</div>
        </div>
        <div class="faq-item">
          <input type="checkbox" id="question2" class="faq-toggle">
          <label for="question2" class="faq-question"><b>When will solutions and awards be released?</b></label>
          <div class="faq-answer">Right after the competition, we will have a review session where the authors discuss all the problems and their solutions. Solutions and awardees will also be released online. Students will also receive an email with solutions attached.</div>
        </div>
        <div class="faq-item">
            <input type="checkbox" id="question3" class="faq-toggle">
            <label for="question3" class="faq-question"><b>How do the review sessions work?</b></label>
            <div class="faq-answer">Review sessions will occur right after the competition are completely optional to attend. Contestants can leave at any point or not go at all. There, we will discuss the answers, work out solutions, and answer questions.</div>
          </div>
        <div class="faq-item">
            <input type="checkbox" id="question4" class="faq-toggle">
            <label for="question4" class="faq-question"><b>How will the awards ceremony work?</b></label>
            <div class="faq-answer">The top 3 scorers will be given their cash prizes. Additionally, we will have ribbons and awards for various categories.</div>
          </div>
        <div class="faq-item">
            <input type="checkbox" id="question5" class="faq-toggle">
            <label for="question5" class="faq-question"><b>I can't make it to the awards ceremony, how do I get my prize?</b></label>
            <div class="faq-answer">We will contact you and figure out a way to get you your award.</div>
          </div>
        <!-- Add more FAQ items here -->
      </div>
    

    <footer>
        <link rel="stylesheet" href="/css/poop.css">
        <div class="banner">
            <img src="img\greenfooter.png" alt="Clover Image" style="width:100%;">
            <div class="footer">
                <p>Email: <a href="mailto:contactclovermath@gmail.com">contactclovermath@gmail.com</a></p>
            </div>
        </div>
    </footer>
</body>
</html>
