<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/poop.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Clover - Home</title>
</head>
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <header>
        <heading>
            <a href="/">
                <img src="img\cloverlogo.png" class="logo-image" alt="Clover Image">
            </a>
        </heading>
        <nav>
            <ul>
                <li><a href="/" style="color: rgb(75, 151, 86)">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/register">Register</a></li>
                <!-- <% if (loggedIn) { %>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% }  else { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup" style="color: rgb(75, 151, 86)">Signup</a></li>
                <% } %> -->
            </ul>
        </nav>
    </header>

    <div class="banner">
        <img src="img\greenbanner.png" alt="Clover Image" style="width:100%;">
        <div class="banner-content">
            <div class="text-container">
                Free math competitions for youth
            </div>
            <a href="/register" class="button">Register for April competition</a>
        </div>
    </div>

    <div class="announcement">Clover Math's premiere competition will be held April 26th, 4:30 pm, at Naperville Central High School</div>

    <div class="subheader">
        Rise to the challenge!
    </div>
    <div class="text">
        <p>Welcome to Clover math! We're a Naperville-based group of experienced high schoolers dedicated to spreading our passion for math among younger students. Whether you're just getting started or you've taken many before, we'd love for you to sign up!
        </p>
    </div>
    <div class="subheader">
        Who should compete
    </div>
    <div class="text">
        <p>We are open to 8th grade students and younger of any expertise and background. Whether this is your first competition or your fiftieth, we'd love to have you! Our tests are written in similar difficulties to that of Mathcounts and AMC 10, so would be best suited for middle school students. However, any younger student is just as welcome if they are up for the challenge!
        </p>
    </div>
    <div class="subheader">
        Test format
    </div>
    <ul>
        <li>30 Questions.</li>
        <li>60 Minutes.</li>
        <li>NO Calculator.</li>
        <li>All questions are free-response.</li>
        <li>The questions are in increasing difficulty.</li>
        <li>Questions 1-10 are worth 3 points each, Questions 11-25 are worth 4 points each, and Questions 26-30 are worth 6 points each.</li>
        <li>There is no penalty for guessing or wrong answers.</li>
    </ul>
    <div class="subheader">
        About the test
    </div>
    <ul>
        <li>Similar difficulty to AMC 8 and Mathcounts State Spring.</li>
        <li>A great opportunity to practice for the AMC and Mathcounts cycles!</li>
        <li>There will be an optional review session right after the competition ends where the authors will go over all the problems.</li>
    </ul>
    <div class="subheader">
        Prizes
    </div>
    <ul>
        <li>Cash prizes will be awarded for top scorers!</li>
        <li>$20 for 1st place, $15 for 2nd place, and $10 for 3rd place.</li>
        <li>The money will be split if there are ties.</li>
        <li>Students who place in the top 3 will receive an email regarding the prize details.</li>
    </ul>    
    <div class="subheader">
        FAQ
    </div>
    <div class="faq-container">
        <div class="faq-item">
          <input type="checkbox" id="question1" class="faq-toggle">
          <label for="question1" class="faq-question"><b>What should a contestant bring?</b></label>
          <div class="faq-answer">Pencils, pens, compasses, rulers, and scratch paper are the only allowed materials. Scratch paper will be provided at the contest.</div>
        </div>
        <div class="faq-item">
          <input type="checkbox" id="question2" class="faq-toggle">
          <label for="question2" class="faq-question"><b>When will solutions and awards be released?</b></label>
          <div class="faq-answer">Right after the competition, we will have a review session where the authors discuss all the problems and their solutions. Solutions and awardees will also be released online. Students will also receive an email with solutions attached.</div>
        </div>
        <div class="faq-item">
            <input type="checkbox" id="question3" class="faq-toggle">
            <label for="question3" class="faq-question"><b>How do the review sessions work?</b></label>
            <div class="faq-answer">Review sessions will occur right after the competition are are completely optional to attend. Contestants can leave at any point or not go at all. There, we will discuss the answers, work out solutions, and answer questions. It will last for a maximum of an hour after the competition ends.</div>
          </div>
        <!-- Add more FAQ items here -->
      </div>
    

    <footer>
        <link rel="stylesheet" href="/css/poop.css">
        <div class="banner">
            <img src="img\greenfooter.png" alt="Clover Image" style="width:100%;">
            <div class="footer">
                <p>Email: <a href="mailto:contactclovermath@gmail.com">contactclovermath@gmail.com</a></p>
            </div>
        </div>
    </footer>
</body>
</html>
