<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/poop.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Clover - About</title>
</head>
<body>
    <%- include('font.ejs') %> 
    <header>
        <%- include('heading.ejs') %> 
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about" style="color: white;">About</a></li>
                <li><a href="/register" style="color: rgb(75, 151, 86)">Register</a></li>
                <!-- <% if (loggedIn !== null) { %>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup" style="color: rgb(75, 151, 86)">Signup</a></li>
                <% } %> -->
            </ul>
        </nav>
    </header>

    <div class="subheader">
        Who are we?
    </div>
    <div class="text">
        <p>Clover is an organization of high schoolers with a love for math committed to inspiring the same passion among younger students. With our combined expertise, we seek to cultivate a community of mathematicians through organizing and providing engaging opportunities for exploration, learning, and of course, competition.
        </p>
    </div>
    <div class="subheader">
        Locations
    </div>
    <div class="text">
        <p>We are a Naperville based organization. Clover competitions will most likely be held at Naperville North or Central High School, Benedictine University, Or Kennedy Junior High.
        </p>
    </div>

</body>
</html>
