<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathplex - Admin</title>
</head>
<body>
    <form method="post" id="adminPassword">
        <label>Password<br>
        <input type="password" name="password" id="password" required>
        </label><br>
        <input type="submit" value="Submit">
    </form>
    <script src="/js/admin.js"></script>
</body>
</html>