<footer>
    <link rel="stylesheet" href="/css/poop.css">
    <div class="banner">
        <img src="img\greenfooter.png" alt="Clover Image" style="width:100%;">
        <div class="footer">
            <p>Email: <a href="mailto:contactclovermath@gmail.com">contactclovermath@gmail.com</a></p>
        </div>
    </div>
</footer>