<footer>
    <div class="banner">
        <img src="img\greenfooter.png" alt="Clover Image" style="width:100%;">
        <div class="footer">
            Contact stuff will be here
        </div>
    </div>
    
</footer>