<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <input type="text" id="email" placeholder="Email"><br>
        <input type="password" id="password" placeholder="Password"><br>
        <button id="submit">Login</button>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>