<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/poop.css">
    <title>Signup</title>
</head>
<body>
    <%- include('font.ejs') %> 
    <header>
        <%- include('heading.ejs') %> 
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <!-- <% if (loggedIn) { %>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% }  else { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup" style="color: white;">Signup</a></li>
                <% } %> -->
            </ul>
        </nav>
    </header>

    <div class="subheader">
        Sign up to register for events and receive info.
    </div>

    <div id="signup-form">
        <input type="text" id="firstName" placeholder="First Name">
        <br>
        <input type="text" id="lastName" placeholder="Last Name">
        <br>
        <input type="text" id="email" placeholder="Email">
        <br>
        <input type="password" id="password" placeholder="Password">
        <br>
        
        <button id="submit">Signup</button>
    </div>
    
    <script src="/js/signup.js"></script>
</body>
</html>
