header {
    background-color: #c3e6b3;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 00;
    margin: 0;
    padding: 0px;
    text-align: left;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.logo-image {
    width: 100px; 
    height: auto; 
}


.subheader {
    background-color: #ffffff00; 
    color: rgb(75, 151, 86);

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    text-align: left;

    font-family: 'Garamond', serif;
    font-weight: italic;
    font-size: 30px;
}

.text {
    background-color: #ffffff00; 
    color: rgb(0, 0, 0);

    padding-left: 20px;
    padding-right: 20px;

    text-align: left;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}


nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

nav ul li {
    display: inline;
    margin-left: 20px; 
}

nav ul li:first-child {
    margin-left: 0; 
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

nav ul li.active a.active {
    color: #ffffff; /* Change the color to white when on that page*/
    text-decoration: none;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


section {
    padding: 20px;
}

.social-links {
    color: #fff;
}

#signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.button {
    width: 100%;
    padding: 6px;
    background-color: rgb(125, 196, 136);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    text-decoration: none; 
    font-weight: normal; 
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background-color: rgb(75, 151, 86);
}

.footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    
    text-align: left; 
    color: rgb(0, 0, 0);

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Adjust font sizes for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .text-container {
        text-align: center; 
        color: rgb(0, 0, 0);
        line-height: 1.2;

        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 7vw;
        margin-bottom: 20px;
    }
}

/* Adjust font sizes for larger screens (e.g., tablets, desktops) */
@media screen and (min-width: 769px) {
    .text-container {
        text-align: center; 
        color: rgb(0, 0, 0);
        line-height: 1.2;

        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 4vw;
        margin-bottom: 20px;
    }
}